<section class="max-w-3xl space-y-5">
  <div>
    <h1 class="text-2xl font-semibold">New inventory item</h1>
  </div>

  <%= render "form", inventory_item: @inventory_item, products: @products, locations: @locations %>
</section>
